:root {
    --primary: rgb(15, 15, 20);
    --secondary: rgb(110, 110, 130);
    --background: rgb(12, 12, 16);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    z-index: 1;
}